In [0]:
-- 1. row_number
-- 2. rank 
-- 3. dense_rank
-- 4. ntile
-- 5. lead
-- 6. lag
-- 7. percentile rank
-- 8. sum()
-- 9. avg
-- 10. count

In [0]:
use j2d;

In [0]:
CREATE TABLE sales (
    id INT,
    salesperson STRING,
    region STRING,
    sales_amount DECIMAL(10, 2),
    sales_date DATE
);

INSERT INTO sales VALUES
(1, 'Alice', 'North', 5000.00, '2025-01-01'),
(2, 'Bob', 'South', 3000.00, '2025-01-02'),
(3, 'Charlie', 'East', 7000.00, '2025-01-03'),
(4, 'David', 'West', 2000.00, '2025-01-04'),
(5, 'Eve', 'North', 6000.00, '2025-01-05'),
(6, 'Frank', 'South', 4000.00, '2025-01-06'),
(7, 'Grace', 'East', 8000.00, '2025-01-07'),
(8, 'Hank', 'West', 1000.00, '2025-01-08'),
(9, 'Ivy', 'North', 9000.00, '2025-01-09'),
(10, 'Jack', 'South', 500.00, '2025-01-10');

In [0]:
select * from sales;

In [0]:
select region, max(sales_amount) as top_sale_amt_by_region
from 
sales
group by region;

In [0]:
select *, row_number() over(partition by region order by sales_amount) as rn
from sales;

In [0]:
select *, row_number() over(partition by region order by sales_amount desc) as rn
from sales;

In [0]:
select *, row_number() over(partition by region order by sales_amount desc) as rn
from sales
where rn = 1;

In [0]:
select `id`, `region`, `salesperson`, `sales_date`, `sales_amount`
from
(
  select *, row_number() over(partition by region order by sales_amount desc) as rn
  from sales
)
where rn = 1;

In [0]:
select `id`, `region`, `salesperson`, `sales_date`, `sales_amount`
from
(
  select *, row_number() over(partition by region order by sales_amount desc) as rn
  from sales
)
where rn = 2;

In [0]:
with cte as (
  select *, row_number() over(partition by region order by sales_amount desc) as rn
  from sales
)
select  `id`, `region`, `salesperson`, `sales_date`, `sales_amount`
from cte 
where rn = 1;

In [0]:
  select *
  from sales
  qualify row_number() over(partition by region order by sales_amount desc) = 1;

In [0]:
INSERT INTO sales VALUES
(11, 'Charlie2', 'East', 7000.00, '2025-01-03'),
(12, 'Grace2', 'East', 9000.00, '2025-01-07');

In [0]:
select * from sales where region = 'East';

In [0]:
  select *, row_number() over(partition by region order by sales_amount desc) as rn
  from sales;

In [0]:
  select *, row_number() over(partition by region order by sales_amount) as rn
  from sales;

In [0]:
  select *, rank() over(partition by region order by sales_amount) as rn
  from sales;

In [0]:
  select *, dense_rank() over(partition by region order by sales_amount) as rn
  from sales;

In [0]:
-- lag
-- lead

In [0]:
truncate table sales;

In [0]:
INSERT INTO sales VALUES
(1, 'Alice', 'North', 5000.00, '2025-01-01'),
(1, 'Alice', 'North', 6000.00, '2025-01-03'),
(2, 'Bob', 'South', 3000.00, '2025-01-02'),
(2, 'Bob', 'South', 4500.00, '2025-01-05'),
(3, 'Charlie', 'East', 7000.00, '2025-01-03'),
(3, 'Charlie', 'East', 5000.00, '2025-01-06'),
(4, 'David', 'West', 2000.00, '2025-01-04'),
(4, 'David', 'West', 4000.00, '2025-01-06'),
(5, 'Eve', 'North', 6000.00, '2025-01-05'),
(5, 'Eve', 'North', 7000.00, '2025-01-08'),
(6, 'Frank', 'South', 4000.00, '2025-01-06'),
(6, 'Frank', 'South', 8000.00, '2025-01-09'),
(7, 'Grace', 'East', 8000.00, '2025-01-07'),
(7, 'Grace', 'East', 8500.00, '2025-01-08'),
(8, 'Hank', 'West', 1000.00, '2025-01-08'),
(8, 'Hank', 'West', 4000.00, '2025-01-09'),
(9, 'Ivy', 'North', 9000.00, '2025-01-09'),
(9, 'Ivy', 'North', 10000.00, '2025-01-10'),
(10, 'Jack', 'South', 500.00, '2025-01-10'),
(10, 'Jack', 'South', 10000.00, '2025-01-13');

In [0]:
select * from sales;

In [0]:
select
  id,
  salesperson,
  region,
  sales_amount,
  sales_date,
  lag(sales_amount) over(partition by id order by sales_amount) as previous_sale_amount,
  lead(sales_amount) over(partition by id order by sales_amount) as nxt_sale_amount
from sales;